<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./works.html">Works</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
        </ul>
    </nav>
    
    <section>
        <h1 id="abouth1">About Mozart</h1>  
    </section>
    <section>
    <h2>Overview</h2>
    <table border="1" align="center">
        <tr>
           <td>Born</td>
           <td>January 27, 1756 in Salzburg, Austria</td>
        </tr>
        <tr>
           <td>Died</td>
           <td>December 5, 1791 in Vienna, Austria</td>
        </tr>
        <tr>
            <td>Birth Name</td>
            <td>Johannes Chrysostomus Wolfgangus Theophilus Mozart</td>
         </tr>
         <tr>
            <td>Height</td>
            <td>5' 4" (1,63 m)</td>
         </tr>
     </table>
    </section>
    <section>
     <h2>Biography</h2>
    <p>
        Wolfgang Amadeus Mozart grew up in Salzburg under the regulation of his strict father Leopold who also was a
        famous composer of his time. His abilities in music were obvious even when Mozart was still young so that in
        1762 at the age of six, his father took him with his elder sister on a concert tour to Munich and Vienna and a
        second one from 1763-66 through the south of Germany, Paris and London. Mozart was celebrated as a wonder child
        everywhere because of his excellent piano playing and his improvisations.
        <hr>
        In 1769 he became the concertmaster of the Archbishop and was knighted by the Pope in Rome. Working in
        Salzburg he nevertheless travelled around Europe to meet other composers and orchestras. But in 1781 after a
        dispute with the Archbishop he left Salzburg and went to Vienna where he married Constanze Weber from Mannheim.
        <hr>
        In Vienna he also started his friendship with Joseph Haydn and a time of many work pieces. In the last year of
        his life, for example, he wrote one of his masterpieces, "Die Zauberflöte". Although some of his operas were
        successful he could not make money from this and died in poverty at the age of 36, having even on his last day
        worked on a "Requiem". He was buried in a communal grave which could not be precisely identified years later.
    </p>
</section>
    <h1></h1>

</body>

</html>