<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>
    <section>
        <h1>Wolfgang Amadeus Mozart</h1>  
        <h2>Works</h2>
    </section>
    <p>
        Wolfgang Amadeus Mozart composed over 600 works for all the musical genres of his day including operas, concertos, symphonies, chamber music and sonatas, and excelled in each one.
        <br>
        Discover our selection of the best Mozart works including a range of opera, symphony, concerto, chamber and piano masterpieces by the legendary composer.
    </p>
    <section>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2MepDCzimtCz2ytAlLUdUi?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </section>
</body>
</html>